@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
    
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #82738b;
    width: 600px;
    padding: 10px;
    margin: auto;
}

body{
    background-image: linear-gradient(to right,#ffc8dd, #a2d2ff);
}

h1{
    color:#cdb4db;
    text-align: center;
    text-shadow: 2px 2px 3px #a2d2ff;
}

h2{
    color:#ffafcc;
}

p{
    text-align: justify;
}